<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


       <bean id="actionConfig" class="me.j360.rad.action.ActionConfig"/>
       <bean id="actionCenterFactory" class="me.j360.rad.spring.ActionCenterFactoryBean"/>

       <bean id="actionCenter" class="me.j360.rad.redis.RedisActionCenter">
       </bean>

       <bean id="actionCenterDelegate" class="me.j360.rad.action.ActionCenterDelegate">
              <property name="actionCenterFactory" ref="actionCenterFactory"/>
              <property name="actionCenter" ref="actionCenter"/>
       </bean>
</beans>